<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="ef" assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource" />
        <add tagPrefix="uc1" assembly="App_Web_logincontrol.ascx.cc671b29" namespace="AccessManagementService.Controls" />
        <add tagPrefix="uc1" assembly="App_Web_uscfullsearchshahid.ascx.cc961b29" namespace="Golestan.Control" />
        <add tagPrefix="uc1" assembly="App_Web_uscfileupload.ascx.cc671b29" namespace="WebUtility.Controls" />
        <add tagPrefix="uc1" assembly="App_Web_uscdatetime.ascx.cc671b29" namespace="WebUtility.Controls" />
        <add tagPrefix="dynamic" assembly="WebUtilityv2" namespace="Telerik.Web.UI.DynamicData" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/LoginUser.aspx" cookieless="AutoDetect" defaultUrl="~/panel/MgrPanel.aspx" slidingExpiration="true" timeout="20" />
    </authentication>
    <!--<hostingEnvironment shadowCopyBinAssemblies="false" />-->
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <handlers>
      <add name="ImageHandler" path="ImageHandler.ashx" verb="*" type="Microsoft.Web.DynamicData.Handlers.ImageHandler" />
      <add name="WebResource" path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <connectionStrings>
    <add name="WebUtilityEntities" connectionString="metadata=res://WebUtilityv2/Model.Model.csdl|res://WebUtilityv2/Model.Model.ssdl|res://WebUtilityv2/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=GolestanShohada;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GolestanShohadaEntities" connectionString="metadata=res://Golestan/Model.ShohadaModel.csdl|res://Golestan/Model.ShohadaModel.ssdl|res://Golestan/Model.ShohadaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=GolestanShohada;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccessEntities" connectionString="metadata=res://AccessManagementService/Model.Model.csdl|res://AccessManagementService/Model.Model.ssdl|res://AccessManagementService/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=GolestanShohada;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>